@import "tailwindcss";

/* Fontes do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* Importe de arquivos locais */
@import "./tokens/colors.css";
@import "./tokens/typography.css";
@import "./tokens/layout.css";

/* Reset base  */
@layer base {
  body {
    background-color: var(--color-bg-primary);
    color: var(--color-txt-primary);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}